
# ignore output directories
attachments_*/
knitr_and_outputs/
processed_templates/
archive/

# ignore raw data files
International_Genetic_Indicator_testing_V_4.0*

#Mac ghosts
.DS_Store
.RData
.Rhistory

# ignore credentials
credentials.txt
